* {
  font-family: 'Montserrat', sans-serif;
  color: black;
  list-style-type: none;
}

h1 {
  color: #e9fc7d;
  text-transform: uppercase;
}

h2 {
  color: #e9fc7d;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

body {
  background-color: #cecccc;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
