* {
  font-family: 'Montserrat', sans-serif;
  color: black;
  list-style-type: none;
  /* font-weight: 300; */
}

h1 {
  color: #f0ff9d;
  text-transform: uppercase;
}

h2 {
  color: #f0ff9d;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

body {
  background-color: #a8a8a8;
}
